{% extends 'base.html' %}

{% set active_nav = 'purchased' %}

{% block content %}
      <table class="table table-striped">
        <thead>
          <tr>
            {% for col in col_mapping %}
              {% if not col.get('hidden') %}
                <th scope="col" class="{{ 'text-end' if col.get('align') == 'right' }}">{{ col.get('label')|e }}</th>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for product_row in product_list %}
            <tr class="">
              {% for col in col_mapping %}
                {% if not col.get('hidden') %}
                  <td class="{{ 'text-end' if col.get('align') == 'right' }} {{ 'text-muted' if product_row.get('in_stock_quantity') == 0 }}">{{ product_row.get(col.get('name'))|e }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
